spring:
  #  devtools:
  #    restart:
  #      enabled: true
  datasource:
    url: ${POSTGRES_URI:jdbc:postgresql://localhost:5432/postgres}
    username: ${POSTGRES_USER:admin}
    password: ${POSTGRES_PASSWORD:admin}
    hikari:
      maximum-pool-size: ${CONNECTION_POOL_SIZE:10}
  sql:
    init:
      mode: always
  security:
    oauth2:
      resourceserver:

        jwt:
          jwk-set-uri: ${JWK_URI:http://localhost:9999/api/certificate/.well-known/jwks.json}
firebase:
  bucket-name: storage-df647.appspot.com
  image-url: https://firebasestorage.googleapis.com/v0/b/${firebase.bucket-name}/o/%s?alt=media&token=%s
  fcm-account-service-path: firebase/sang.json